nav li{
   list-style: none;
   margin-right: 30px;
}
nav li a{
    text-decoration: none;
    color: black;
    font-size: 1.2em;
}
nav ul{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: wheat;
    height: 50px;
}

